.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .trans-background {
    background: #348b7f;
    filter: alpha(opacity=90);
    /* IE */
    -moz-opacity: 0.6;
    /* Mozilla */
    opacity: 0.6;
    /* CSS3 */
    position: absolute;
    top: 200px;
    left: 25%;
    height: 70%;
    width: 50%;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 2px 3px black;
  }
  .company-logo {
    position: relative;
    top: 100px;
    height: 450px;
    width: 500px;
  }
  .btn {
    position: relative;
    top: 100px;
    z-index: 1000;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: 0.1s;
    box-shadow: 2px 2px black;
  }
  //   .btn:hover {
  //     transition: 0.1s;
  //     border: 3px solid #b24323;
  //     border-radius: 25px;
  //     box-shadow: 1px 2px black;
  //   }
  .banner-message {
    position: fixed;
    top: 750px;
    font-size: 60px;
    font-family: "Dancing Script", cursive;
    text-shadow: 1px 2px #c9c9c9;
  }
}
