.appointment-page {
  position: relative;

  .setAppointment-bgImage {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
  }

  .set-appointment {
    position: absolute;
    max-height: 500px;
    width: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .setAppointmentBackground {
      position: absolute;
      z-index: 1000;
      height: 50vh;
      width: 100vw;
      top: 100px;
      background: white;
      filter: alpha(opacity=90);
      /* IE */
      -moz-opacity: 0.6;
      /* Mozilla */
      opacity: 0.6;
      /* CSS3 */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border: none;
      box-shadow: 1px 2px 3px black;
    }

    .appointmentCalendar {
      position: relative;
      z-index: 1000;
      top: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-weight: bolder;
        opacity: 1;
      }
      form {
        .btn {
          position: absolute;
          top: 320px !important;
          left: 480px;
          width: 150px;
        }
      }
    }
  }
}
